<img src="assets/image/home/our-programs/Union.svg" class="image" alt="">
<div class="row m-0 d-flex justify-content-center our_programs">
  <div class="col-11 row m-0  p-1 p-sm-3 m-auto d-flex justify-content-center">
    <p class="Title_programs">{{data?.heading}}</p>
    <div class="desc_programs">
      {{data?.description}}
    </div>




    <div class="crads row m-0 d-flex justify-content-center mt-5">
        <div class="keen-slider list-unstyled pe-0 ps-0" #sliderRef >
          <div *ngFor="let item of programs; let firstItem = first ;let i = index" class="keen-slider__slide">
            <div class="col-12 p-1 p-sm-3 py-sm-4 " >
              <div class="card" >
                <p class="title mt-3"*ngIf="item.age">{{item?.age}}</p>
                <p class="desc mt-3">{{item?.title}}</p>
                <div class="sub_desc mt-3">{{item?.description}}</div>

              </div>
            </div>
          </div>

  </div>
  <div class="row m-0 d-flex justify-content-center">
    <div class="col-6 d-flex justify-content-center mt-2">
      <p class="d-flex">
        <span class="icon_size_slidOne" (click)="goToNextSlide()">
          <i class="fa-solid fa-circle ms-2 me-2" ></i>
        </span>
        <span class="icon_size_slidTwo" (click)="goToPrevSlide()">
          <i class="fa-solid fa-circle ms-2 me-2" ></i>
        </span>
      </p>
    </div>
  </div>
</div>
<img src="assets/image/home/our-programs/Union2.svg" class="image2" alt="">
