<div class="row m-0 d-flex justify-content-center get_in" id="Contact">
  <div class="col-12 row m-0  p-1 p-sm-3 m-auto d-flex justify-content-center">
    <p class="title">{{ 'contact.lets'|translate }}</p>
    <div class="d-flex justify-content-center">
      <div class="btn-sub-parent" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <button class="button_slider mb-3 mb-sm-0">{{ 'contact.contactus'|translate }}</button>
      </div>
    </div>
  </div>
  <img src="assets/image/pattern/Frame4.png" class="pattern1" alt="">
  <img src="assets/image/pattern/Frame6.png" class="pattern2" alt="">
  <img src="assets/image/pattern/Frame5.png" class="pattern3" alt="">
  <!-- <img src="assets/image/pattern/Frame.png" class="pattern4" alt=""> -->
  <img src="assets/image/pattern/Frame7.png" class="pattern5" alt="">
</div>

<div class="modal_style">
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    #menuContact>
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <div class="Title_h">
            {{ 'contact.contactus'|translate }}
          </div>
          <div class="content-box">
            <form [formGroup]="formGroup">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <p><i class="fa-solid fa-user"></i></p>
                    <input type="text" placeholder="{{ 'contact.name'|translate }}"
                      formControlName="name">
                  </div>
                  <div *ngIf="formGroup.get('name')?.invalid && formGroup.get('name')?.touched" class="text-danger">
                    {{ 'contact.valid_Name'| translate }}
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <p><i class="fa-solid fa-envelope"></i></p>
                    <input type="text" placeholder="{{ 'contact.email'|translate }}"
                      formControlName="email">
                  </div>
                  <div
                    *ngIf="formGroup.get('email')?.invalid &&  (formGroup.get('email')?.hasError('pattern') || formGroup.get('email')?.touched)"
                    class="text-danger">
                    {{ 'contact.valid_email'| translate }}
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <p><i class="fa-solid fa-phone"></i></p>
                    <input type="text" placeholder="Enter your phone"
                      placeholder="{{ 'contact.Phone'|translate }}" formControlName="phone"
                      maxlength="11">
                  </div>
                  <div
                    *ngIf="formGroup.get('phone')?.invalid && (formGroup.get('phone')?.hasError('pattern') || formGroup.get('phone')?.touched)"
                    class="text-danger">
                    {{ 'contact.valid_phone'| translate }}
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group form-group_">
                    <p><i class="fa-solid fa-building-user"></i></p>
                    <select class="form-select" aria-label="Default select example" formControlName="department"
                      (change)="checkType()">
                      <option disabled [value]="'different'|translate">{{ 'different'|translate }}
                      </option>
                      <option [value]="'contact.students'|translate">
                        {{ 'contact.students'|translate }}</option>
                      <option [value]="'contact.admissions'|translate">
                        {{ 'contact.admissions'|translate }}</option>
                      <option [value]="'contact.finance'|translate">
                        {{ 'contact.finance'|translate }}</option>
                      <option [value]="'contact.complaints'|translate">
                        {{ 'contact.complaints'|translate }}</option>
                    </select>
                  </div>
                  <div *ngIf="formGroup.get('department')?.invalid && formGroup.get('department')?.touched"
                    class="text-danger  form-group_">
                    {{ 'contact.valid_Select'| translate }}
                  </div>
                  <div *ngIf="hide" class="text-danger  form-group_">
                    {{ 'contact.valid_Select'| translate }}
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-group-textarea">
                    <p><i class="fa-solid fa-envelope"></i></p>
                    <textarea id="message" rows="2" placeholder="{{ 'contact.message'|translate }}"
                      formControlName="message"></textarea>
                  </div>
                  <div *ngIf="formGroup.get('message')?.invalid && formGroup.get('message')?.touched"
                    class="text-danger mb-5">
                    {{ 'contact.valid_message'| translate }}
                  </div>
                </div>
                <div class="alert alert-danger" role="alert"
                  *ngIf="formGroup.invalid && formGroup.touched && errorMess != ''" class="text-danger">
                  {{ errorMess |translate }}
                </div>
              </div>
              <button (click)="submit()">
                <div class="spinner-border" role="status" *ngIf="isloading">
                </div>
                {{ 'contact.send' | translate }}
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
