<section class="teachers-section">
  <div class="container">
    <article
      class="content d-flex flex-column flex-lg-row align-items-center justify-content-center"
    >
      <img [src]="teachersData?.image" alt="Teachers Picture" />

      <section class="desc">
        <h2 class="small-title">Teachers</h2>
        <h3 class="large-title">{{ teachersData?.title }}</h3>
        <p>
          {{ teachersData?.description }}
        </p>
        <ul>
          <li
            *ngFor="let item of teachersData?.subtitles"
            class="text-capitalize"
          >
            {{ item }}
          </li>
        </ul>
      </section>
    </article>
  </div>
</section>
