<section class="program-section">
  <div class="container">
    <article class="text-center head-section">
      <h2 class="small-title">Academic Program</h2>
      <h3 class="large-title">Discover the High school Program</h3>
      <p class="mx-auto">
        American Department at Fanarah School are designed to provide a
        well-rounded education that prepares students for college and future
        careers
      </p>
      <div class="btn-container mx-auto">
        <button class="btn">High School</button>
      </div>
    </article>

    <article
      class="row justify-content-between align-items-center row-gap-4 content-section"
    >
      <section class="col-lg-6 program-desc">
        <p>
          <span class="text-capitalize fw-bold">our high</span> School program
          focuses on building a strong academic foundation and nurturing a love
          for learning.
        </p>
        <p>
          With an engaging curriculum, young learners are introduced to
          essential subjects such as:
        </p>
        <ul>
          <li class="text-capitalize">mathematic</li>
          <li class="text-capitalize">english language arts</li>
          <li class="text-capitalize">science</li>
          <li class="text-capitalize">social studies</li>
        </ul>
        <p class="m-0">
          Interactive teaching methods and hands-on activities help develop
          critical thinking, creativity, and social skills from an early age.
        </p>
      </section>

      <section class="col-lg-5 image-container text-center">
        <img
          src="assets/image/american-school/program-pic.svg"
          alt="Academic Program Picture"
          class="img-fluid"
        />
      </section>
    </article>
  </div>
</section>
