<section class="program-section">
  <div class="container">
    <article class="text-center head-section">
      <h2 class="small-title">Academic Program</h2>
      <h3 class="large-title">{{ programHeadingData?.title }}</h3>
      <p class="mx-auto">{{ programHeadingData?.description }}</p>
      <div class="btn-container mx-auto">
        <button class="btn">High School</button>
      </div>
    </article>

    <article
      class="row justify-content-between align-items-center row-gap-4 content-section"
    >
      <section class="col-lg-6 program-desc">
        <p>
          <span class="text-capitalize fw-bold">our high</span> School program
          focuses on building a strong academic foundation and nurturing a love
          for learning.
        </p>
        <p>
          {{ programData?.second_description }}
        </p>
        <ul>
          <li
            class="text-capitalize"
            *ngFor="let item of programData?.subtitles"
          >
            {{ item }}
          </li>
        </ul>
        <p class="m-0">
          {{ programData?.last_description }}
        </p>
      </section>

      <section class="col-lg-5 text-center">
        <img
          [src]="programData?.image"
          alt="Academic Program Picture"
          class="img-fluid"
        />
      </section>
    </article>
  </div>
</section>
