<app-sub-header></app-sub-header>
<app-career-header></app-career-header>
<div class="container-fluid">
  <h4>{{position.heading}}</h4>
  <div class="cards">
    <div class="row my-5" *ngIf="data">
<div class="col-12 col-lg-4 col-md-6" *ngFor="let job of data" >

  <div class="card">

    <p class="title_card ">{{job.title}}</p>
    <ul>
      <li *ngFor="let point of job.main_points.split('\n')">{{point}}</li>

    </ul>
    <div class="skills">

      <span *ngFor="let skill of job.skills.split('-')" class="skill">{{skill}}</span>

    </div>
    <div class="btn  apply" routerLink="/career/job/{{job.id}}">{{position.btn}} <img src="assets/image/applyi.svg" alt=""></div>
  </div>
</div>

</div>
</div>
</div>

<div class="container-fluid pt-0">
  <h4> {{cv?.heading}} </h4>
  <app-career-form [data]="cv"></app-career-form>
</div>
