<app-sub-header></app-sub-header>
<app-career-header></app-career-header>
<div class="container-fluid">
  <h4>{{"career.open_position"|translate}}</h4>
  <div class="cards">
    <div class="row my-5">
<div class="col-12 col-lg-4 col-md-6">

  <div class="card">

    <p class="title_card ">{{"Primary School Teachers"}}</p>
    <ul>
      <li>Develop and implement engaging lesson plans for students.</li>
      <li>Assess and track student progress.</li>
      <li>Foster a positive and inclusive classroom environment.</li>
    </ul>
    <div class="skills">

      <span class="skill">Math</span>
      <span class="skill">Sciene</span>
    </div>
    <div class="btn  apply" routerLink="/career/job/1">{{'career.apply_now'|translate}} <img src="assets/image/applyi.svg" alt=""></div>
  </div>
</div>
<div class="col-12 col-lg-4 col-md-6">

  <div class="card">

    <p class="title_card ">{{"School Administrator"}}</p>
    <ul>
      <li>Oversee daily operations of the school.</li>
      <li> Implement school policies and ensure compliance with regulations.</li>
      <li>Manage staff, budgeting, and school resources.</li>
    </ul>

    <div class="btn  apply" routerLink="/career/job/1">{{'career.apply_now'|translate}} <img src="assets/image/applyi.svg" alt=""></div>
  </div>
</div>
<div class="col-12 col-lg-4 col-md-6">

  <div class="card">

    <p class="title_card ">{{"Primary School Teachers"}}</p>
    <ul>
      <li>Develop and implement engaging lesson plans for students.</li>
      <li>Assess and track student progress.</li>
      <li>Foster a positive and inclusive classroom environment.</li>
    </ul>

    <div class="btn  apply" routerLink="/career/job/1">{{'career.apply_now'|translate}} <img src="assets/image/applyi.svg" alt=""></div>
  </div>
</div>
</div>
</div>
</div>

<div class="container-fluid">
  <h4> {{'career.leave_your_resume'| translate}} </h4>
  <app-career-form></app-career-form>
</div>
