<app-sub-header></app-sub-header>
<app-career-header></app-career-header>
<div class="container-fluid">

  <div class="links mb-4">
    <span class="main-link">{{"career.open_position"|translate}}</span>
    <span class="active">{{"Primary School Teachers"}}</span>
  </div>
<div class="content">

  <p class="title_card ">{{"career.requirements"|translate}}</p>
  <ul>
    
    <li>Bachelor’s degree in Education or a related field.</li>
    <li>Teaching certification.</li>
    <li>Experience in primary education is preferred.</li>
  </ul>
</div>
<div class="content">

  <p class="title_card ">{{"career.responsibilities"|translate}}</p>
  <ul>
    <li>Develop and implement engaging lesson plans for students.</li>
    <li>Assess and track student progress.</li>
    <li>Foster a positive and inclusive classroom environment.</li>
  </ul>
</div>
<div class="content">

  <p class="title_card ">{{"career.benefits"|translate}}</p>
  <ul>
    <li>Competitive salary and benefits package.</li>
    <li>Professional development opportunities.</li>

  </ul>
</div>

</div>
<div class="container-fluid">

  <app-career-form></app-career-form>
</div>
