<app-sub-header></app-sub-header>
<app-career-header></app-career-header>
<div class="container-fluid">

  <div class="links mb-4">
    <span class="main-link">{{position.heading}}</span>
    <span class="active">{{data.title}}</span>
  </div>


    <div class="content" *ngIf="data.title_1|| data.description_1">

      <p class="title_card " *ngIf="data.title_1">{{data.title_1}}</p>
      <ul *ngIf="data.description_1">

        <li *ngFor="let desc of data.description_1.split('\n')">{{desc}}</li>

      </ul>
    </div>
    <div class="content" *ngIf="data.title_2|| data.description_2">

      <p class="title_card " *ngIf="data.title_2">{{data.title_2}}</p>
      <ul *ngIf="data.description_2">

        <li *ngFor="let desc of data.description_2.split('\n')">{{desc}}</li>

      </ul>
    </div>
    <div class="content" *ngIf="data.title_3|| data.description_3">

      <p class="title_card " *ngIf="data.title_3">{{data.title_3}}</p>
      <ul *ngIf="data.description_3">

        <li *ngFor="let desc of data.description_3.split('\n')">{{desc}}</li>

      </ul>
    </div>


</div>
<div class="container-fluid pt-0">

  <app-career-form [id]="data.id" [data]="cv"></app-career-form>
</div>
