<div class="row mt-5" >
  <div class="col-12 col-md-6" >
    <form action="" style="width: 90%;">
      <div class="form-group">
        <input type="text" placeholder="{{'career.full_name'| translate }}" class="form-control">
      </div>
      <div class="form-group">
        <input type="text" placeholder="{{'career.email'| translate }}" class="form-control">
      </div>
      <div class="form-group input-group">
        <span class="input-group-text p-0" id="basic-addon1" ><div class="dropdown">
          <button class="btn dropdown-toggle" type="button"[innerHTML]="flag" data-bs-toggle="dropdown" aria-expanded="false">

          </button>
          <ul class="dropdown-menu " style="min-width: 2rem;">
            <li><a value ="eg" (click)="changeFlag($event)" style="cursor: pointer;" class="dropdown-item active" ><img src="assets/image/career/egy.png" alt="" /></a></li>

          </ul>
        </div></span>
        <input type="text" class="form-control" placeholder="{{'career.phone'|translate}}" aria-label="Username" aria-describedby="basic-addon1">
      </div>
<div class="upload" (click)="upload()">
  <div class="data m-auto">

    <img src="assets/image/career/upload.svg" class="mx-3"  alt=""> {{(selected?'career.selected':'career.upload_your_cv')|translate}}
  </div>
  <input type="file" (change)="changeFile()" hidden id="file">
</div>
<div class="btn  apply">{{'career.submit'|translate}} </div>

    </form>
  </div>
  <div class="col-12 col-md-6">
    <img src="assets/image/career/form-img.png" class="w-100" height="452px" alt="">
  </div>
</div>
