<div class="header">
    <div class="d-flex justify-content-center">
        <div class="row m-0 d-flex justify-content-between p-1 p-sm-3 col-11">
            <div class="col-12 col-sm-5 d-flex justify-content-start  gap-3 div_icon">
                <div><i class="fa-solid fa-envelope icon pt-1 pe-1 ps-1"></i> <span class="mb-0 span">{{data?.main_email}}</span></div>
                <div><i class="fa-solid fa-square-phone icon pt-1 pe-1 ps-1"></i> <span class="mb-0 span">{{data?.mian_phone_number}}</span></div>
            </div>
            <div class="col-12 col-sm-5 d-flex justify-content-end gap-2 div_icon mt-2 mt-sm-0">
                <ng-container *ngFor="let item of dataLink">
                    <a *ngIf="item?.title == 'Facebook'" [href]="item?.link"><i class="fa-brands fa-facebook icon pt-1"></i></a>
                    <a *ngIf="item?.title == 'Instagram'" [href]="item?.link"><i class="fa-brands fa-instagram icon pt-1"></i></a>
                    <a *ngIf="item?.title == 'Twitter'" [href]="item?.link"><i class="fa-brands fa-x-twitter icon pt-1"></i></a>
                    <a *ngIf="item?.title == 'Linkedin'" [href]="item?.link"><i class="fa-brands fa-linkedin icon pt-1"> </i></a>
                    <a *ngIf="item?.title == 'YouTube'" [href]="item?.link"><i class="fa-brands fa-youtube icon pt-1"> </i></a>
                  </ng-container>
            </div>
    
        </div>
    </div>
 <app-header  class="d-flex justify-content-center pb-2"></app-header>
</div>