.container-fluid
{
  text-align: center;
  background-color: rgba(25, 49, 75, 1);
  font-family: var(--Plus_Jakarta);
  padding: 60px 32%;
  color: white;
  border-radius: 0px 0px 32px 32px;
  h4{
    font-weight: 600;
    font-size: 48px;
    line-height: 60.48px;
  }
  p{
    font-weight: 400;
    font-size: 20px;
  }
}

@media (max-width: 1500px) {
.container-fluid{
  padding: 60px 29%;
}
}
@media (max-width: 1300px) {
.container-fluid{
  padding: 60px 25%;
}
}
@media (max-width: 1000px) {
.container-fluid{
  padding: 60px 20%;
}
}
