<section
  class="activities-section d-flex flex-column flex-xl-row align-items-center"
>
  <article class="left-content">
    <h2 class="small-title">student activities</h2>
    <h3 class="large-title">
      {{ ActivitiesData?.title }}
    </h3>
    <p>
      {{ ActivitiesData?.description }}
    </p>
    <div class="img-container">
      <img [src]="ActivitiesData?.image" alt="" class="img-fluid" />
    </div>
  </article>

  <article class="right-content d-flex flex-column">
    <div class="activity d-flex">
      <img
        src="assets/image/american-school/activities-icon1.svg"
        alt=""
        class="align-self-start"
      />
      <div class="desc">
        <h4 class="text-capitalize">{{ ActivitiesData?.title1 }}</h4>
        <p class="m-0">{{ ActivitiesData?.description1 }}</p>
      </div>
    </div>
    <div class="activity d-flex">
      <img
        src="assets/image/american-school/activities-icon2.svg"
        alt=""
        class="align-self-start"
      />
      <div class="desc">
        <h4 class="text-capitalize">{{ ActivitiesData?.title2 }}</h4>
        <p class="m-0">{{ ActivitiesData?.description2 }}</p>
      </div>
    </div>
    <div class="activity d-flex">
      <img
        src="assets/image/american-school/activities-icon3.svg"
        alt=""
        class="align-self-start"
      />
      <div class="desc">
        <h4 class="text-capitalize">{{ ActivitiesData?.title3 }}</h4>
        <p class="m-0">{{ ActivitiesData?.description3 }}</p>
      </div>
    </div>
  </article>
</section>
