<section class="activities-section d-flex flex-column flex-xl-row align-items-center">
    <article class="left-content">
        <h2 class="small-title">student activities</h2>
        <h3 class="large-title">
            At Fanarah School, we believe in nurturing talents beyond academics
        </h3>
        <p>
            At Fanarah School, we believe in nurturing talents beyond academics Students can participate in a variety of
            extracurricular activities.
        </p>
        <div class="img-container">
            <img src="assets/image/american-school/activities-pic.svg" alt="" class="img-fluid">
        </div>
    </article>

    <article class="right-content d-flex flex-column">
        <div class="activity d-flex">
            <img src="assets/image/american-school/activities-icon1.svg" alt="" class="align-self-start">
            <div class="desc">
                <h4 class="text-capitalize">STEM Club</h4>
                <p class="m-0">Projects and competitions to enhance technical and engineering skills.</p>
            </div>
        </div>
        <div class="activity d-flex">
            <img src="assets/image/american-school/activities-icon2.svg" alt="" class="align-self-start">
            <div class="desc">
                <h4 class="text-capitalize">Art and Drama Programs</h4>
                <p class="m-0">Opportunities for creative expression through performances and art showcases.</p>
            </div>
        </div>
        <div class="activity d-flex">
            <img src="assets/image/american-school/activities-icon3.svg" alt="" class="align-self-start">
            <div class="desc">
                <h4 class="text-capitalize">sports teams</h4>
                <p class="m-0">Access to a variety of sports, fostering teamwork, discipline, and physical fitness.</p>
            </div>
        </div>
    </article>
</section>